/* Isa - ryuyunjong, C - CREATE, U - UPDATE */
/* Isa mywebpage - 2019.10.19.C -Isa */


/* reset */
@import "reset.css";

/* interface */

.blind {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden;}


/* layout */

body::-webkit-scrollbar {display: none;} 
#wrap {display: flex; flex-direction: column; margin: 0; padding: 0; box-sizing: border-box;}
#wrap:after {display: block;content: ''; clear: both;}
#header {display: flex; flex-wrap: wrap; position: fixed; width: 100%; height: 50px; background: rgb(255, 255, 255); border: rgb(226, 226, 226) 1px solid; box-shadow: rgb(163, 163, 163) 1px 1px 5px;}
#container {position: relative; width: 100%; min-height: 95vh; padding: 50px 0 0 0; border: rgb(226, 226, 226) 1px solid; z-index: -99999;}
#footer {width: 100%; height: 30px; background: rgb(97, 97, 97); z-index: -99999;}


/* header */

#header h1 {flex: 1; padding: 14px 0 0 8px;}
#header .header_nav {flex: 3;}
#header .header_ham {flex: initial; position: relative; width: 50px;}
#header .active {flex-basis: 100%;}

.header_nav ul {display: block; float: right; width: auto; height: 50px; margin: 0 8px 0 0;}
.header_nav ul li {float: left; padding: 16px 2px 0 4px; font-size: 0.85rem;}
.header_ham .hamber_line {display: inline-block; position: absolute; left: 10px; width: 24px; height: 1.5px; background: rgb(211, 91, 91);}
.header_ham .hamber_line:first-child {top: 14px;}
.header_ham .hamber_line:nth-child(2n) {top: 22px;}
.header_ham .hamber_line:nth-child(3n) {top: 30px;}
.active .hamber_line {display: none;}
.header_ham .header_ham_box {display: none; position: fixed; top: 0; width: 100vw; height: 100vh; background: rgb(107, 107, 107); z-index: 999999;}
.active .header_ham_box {display: block;}
#header h1 a {text-decoration: none; color: rgb(78, 113, 148);}
#header h1 img {vertical-align: middle;}

.header_nav a {text-decoration: none; color: inherit;}
.header_ham_box ul {display: block; position: fixed; right: -50vw; width: 70%; min-width: 250px; height: 100vh; padding: 20px 0 0 0; transition: right ease-in-out 1s; background: rgb(189, 189, 201);}
.header_ham_box ul li {text-align: right; padding: 8px 20px 8px 0;}
.active .header_ham_box ul {right: 0;}
.header_ham_box a {text-decoration: none; color: inherit;}

/* container */


/* footer */

#footer .footer_box {padding: 4px 0 0 0; text-align: center;}