/* Isa - ryuyunjong, C - CREATE, U - UPDATE */
/* Isa mywebpage - 2019.10.19.C -Isa */


/* reset */
@import "reset.css";

/* interface */

.blind {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden;}
.link_icon {display: inline-block; width: 14px; height: 14px; margin: 1px 3px; background-image: url('../images/link.png'); background-repeat: no-repeat; background-size: 100%;}

/* layout */

body::-webkit-scrollbar {display: none;}    
#wrap {display: flex; flex-direction: column; margin: 0; padding: 0; box-sizing: border-box;}
#wrap:after {display: block; content: ''; clear: both;}
#header {display: flex; flex-wrap: wrap; position: fixed; width: 100%; height: 50px; background: rgb(255, 255, 255); border: rgb(226, 226, 226) 1px solid; box-shadow: rgb(163, 163, 163) 1px 0px 8px; z-index: 9999999;}
#container {position: relative; width: 100%; max-width: 800px; min-height: 95vh; margin: 0 auto; padding: 58px 0 0 0; border: rgb(226, 226, 226) 1px solid;}
#footer {width: 100%; height: 30px; background: rgb(97, 97, 97); z-index: -99999;}


/* header */

#header h1 {flex: 1; padding: 14px 0 0 8px;}
#header .header_nav {flex: 3;}
#header .header_ham {flex: initial; position: relative; width: 50px;}
#header .active {flex-basis: 100%;}

.header_nav ul {display: block; float: right; width: auto; height: 50px; margin: 0 8px 0 0;}
.header_nav ul li {float: left; padding: 16px 2px 0 4px; font-size: 0.85rem;}
.header_ham .hamber_line {display: inline-block; position: absolute; left: 10px; width: 24px; height: 1.5px; background: rgb(211, 91, 91);}
.header_ham .hamber_line:first-child {top: 14px;}
.header_ham .hamber_line:nth-child(2n) {top: 22px;}
.header_ham .hamber_line:nth-child(3n) {top: 30px;}
.active .hamber_line {display: none;}
.header_ham .header_ham_box {display: block; position: fixed; top: 0; right: 100vw; width: 101vw; height: 101vh; background: url("../images/bg_back.png"); z-index: 999999;}
.active .header_ham_box {right: 0;}
#header h1 a {text-decoration: none; color: rgb(78, 113, 148);}
#header h1 img {vertical-align: middle;}

.header_nav a {text-decoration: none; color: inherit;}
.header_ham_box ul {display: block; position: fixed; right: -90%; width: 70%; min-width: 250px; height: 100vh; padding: 20px 0 0 0; transition: right ease-in-out 0.8s; background: rgb(189, 189, 201);}
.header_ham_box ul li {text-align: right; padding: 8px 20px 8px 0;}
.active .header_ham_box ul {right: 0;}
.header_ham_box a {text-decoration: none; color: inherit;}

/* container */

#content {display: block; padding: 24px 24px 0 24px; font-size: 0.9rem; line-height: 1.5rem;}


#content h2 {font-size: 1.6rem; font-weight: bold; color: rgb(30, 123, 199);}
#content h3 {font-size: 1.3rem; font-weight: bold;}
#content hr {margin: 8px 0 12px 0; border: 0.5px solid teal;}
#content .center {text-align: center;}
#content strong {font-size: 1rem; font-weight: bold; color: rgb(14, 39, 59);}
#content ul {width: auto; margin: 12px auto; text-align: center;}
#content ul li {width: auto;}
#content .main {height: 600px;}

.sub_item {margin: 24px 0 12px 0; border-bottom: 0.5px solid rgb(194, 194, 194);}
.sub_item a {text-decoration: none; color: rgb(82, 49, 49);}
.sub_item a:hover, .sub_item a:active {color: rgb(86, 86, 207);}
.sub_item h3 {color: inherit;}
.sub_item_about {margin: 12px 0 0 0; color: rgb(71, 71, 71);}
.main canvas {width: 100%; height: 400px; background: rgb(227, 231, 240);}
.tech_box {width: 100%; height: auto; margin: 12px 0 8px 0; padding: 0; font-size: 0.7rem; color: rgb(41, 41, 41); text-align: center;}
.tech_box h3 {margin: 8px 0 12px 0;}

.modal {display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100%; background-image: url('../images/bg_back.png'); z-index: 9999999;}
.modal.active {display: block;}

.modal_item {display: none; position: fixed; top: 8vh; left: 5vw; width: 90vw; height: 90vh; background: rgb(255, 255, 255);}
.modal_item.active {display: block;}

.modal_item .modal_head {display: block; width: 100%; height: 6vh;}
.modal_item .modal_content {width: 100%; height: 76vh; overflow: auto;}
.modal_item .close_button {width: 50px; height: 30px; background: rgb(59, 50, 50); color: rgb(228, 227, 227);}
.modal_item hr {margin: 8px 0 12px 0; border: 0.5px solid teal;}

.modal_head h3 {margin: 24px; font-size: 1.8rem; text-align: center;}
.modal_head .close_button {position: absolute; top: 0; right: 0;}


.modal_content .close_button{display:block; margin: 8px auto;}
.modal_content p {padding: 3px; line-height: 1.5rem;}
.modal_content h4 {width: 70%; margin: 0 0 8px 0; padding: 8px 0 10px 4px; font-size: 1.2rem; color: rgb(25, 27, 27); border-bottom: orangered 0.5px solid;}
.modal_content img {width: 30%; height: 40%;}
.modal_content a {text-decoration: none; color: rgb(163, 25, 25);}
.modal_content a:hover {text-decoration: underline;}


/* footer */

#footer .footer_box {padding: 4px 0 0 0; text-align: center;}

/* media */

