<section id="content">
    <h2>소개</h2>
    <hr />
    <h3 class="center"><img src="./assets/images/home_logo.png" width="180px" alt="프로필사진" /></h3>
    <hr />
    <p class="center"><strong class="strong">안녕하세요.</strong> <br /><br />
      이 홈페이지는 Isa(류윤종)가 직접 제작한 홈페이지입니다.<br />
      모티브는 생활코딩과 제로초블로그에서 얻었고 저 자신의 정체성과 발전,성과들을 간략하게 정리해서 보여줄 공간을 직접 만들어<br />
      발전의 뼈대로 삼자는 목적으로 제작했습니다. 최대한 기초에 충실하기 위해 노력했습니다.<br />
      </p>
      <ul>
        <li>인생의 방향: 자기 자신의 성장(육체적,정신적,기술적)</li>
        <li>취미: 명상(참선이나,호흡수련),운동(신체단련 및 무술),독서(철학등 현학서적)</li>
        <li>현재 관심분야: 블록체인,웹앱개발,인공지능,게임개발</li>
        <li>흡연여부: 비흡연(담배 냄새가 싫고 피부가 안좋은게 원인) 주량: 소주2병(술마시는걸 안 좋아한다. 운동.)</li>
      </ul>
</section>