<section id="content">
    <div class="main">
        <canvas id="main_baner"></canvas>
    </div>
    <h2>Site 소개</h2>
    <hr />
    <p>
        라이브러리나 프레임워크 없이 바닐라js로 제작한 홈페이지입니다. 뭔가 세세한 기획을 하고 모방해서 만들기보다는 그때 그때 생각나는 것들을 채워놓고 원하는 구성을 생각하며 실험적으로 코딩을 한 페이지라 디자인 퀄리티나 코드 자체의 일관성이 떨어질 수 도 있지만 '여러가지'를 큰 진입장벽 없이 넘나들 수 있고 프로그래밍에 대한 기초적인 내공을 보여주기 위해서 일부로 프레임워크나 라이브러리를 제외했습니다.
        관심 있으신 분들은 이 프로젝트 구성이나 코드들을 보고 문제점이나 개선점 같은걸 지적해주시면 고맙겠습니다. 우측 상단의 햄버거 메뉴를 눌러 나오는 github를 통해서 제 개인 깃허브 계정에 접근할 수 있고 그중 공개 된 webpage repo 를 통해서 github page를 통해 호스팅중입니다.
    </p>
</section>