<section id="content">
    <h2>포트폴리오</h2>
    <hr />
    <div class="sub_item">
        <a href="#" title="toyproject" target="_self">
            <h3>토이프로젝트<span class="link_icon"></span></h3>
            <p class="sub_item_about">
                개인적을 공부하면서 또는 만들어 보고 싶어서 만들어본 토이프로젝트들을 모아둔 곳입니다.
            </p>
        </a>
    </div>
    <div class="sub_item">
        <a href="javascript:void(0);" data-target="persona" title="persona" target="_self">
            <h3>페르소나<span class="link_icon"></span></h3>
            <p class="sub_item_about">
                페르소나라는 회사에서 일하면서 진행했던 프로젝트에 대한 내용을 모아둔 곳입니다.
            </p>
        </a>
    </div>
    <div class="sub_item">
        <a href="#" title="study" target="_self">
            <h3>스터디등<span class="link_icon"></span></h3>
            <p class="sub_item_about">
                다른 사람들과 모여서 공부하면서 진행한 내용입니다.
            </p>
        </a>
    </div>
</section>