<section id="content">
    <h2>기술</h2>
    <hr />
    <div class="headline">
        <p>프로그래밍 기술스택을 정리해둔 내용입니다.</p>
    </div>
    <div class="tech_box">
        <h3>언어</h3>
        <img src="./assets/images/html5.png" alt="html5" width="100px" height="100px"/><img src="./assets/images/css.png" alt="css3" width="100px" height="100px"/><img src="./assets/images/javascript.png" alt="es6" width="100px" height="100px"/><img src="./assets/images/php.png" alt="php7" width="100px" height="100px"/>
    </div>
    <div class="tech_box">
        <h3>라이브러리, 프레임워크</h3>
        <img src="./assets/images/vue.png" alt="vue.js" width="100px" height="100px"/><img src="./assets/images/jquery.png" alt="jquery" width="100px" height="100px"/> 
    </div>
    <div class="tech_box">
        <h3>운영체제, 데이터베이스, 환경</h3>
        <img src="./assets/images/windows.png" alt="windows" width="100px" height="100px"/><img src="./assets/images/linux.png" alt="linux" width="100px" height="100px"/><img src="./assets/images/mysql.png" alt="mysql" width="100px" height="100px"/><img src="./assets/images/node.png" alt="node.js" width="100px" height="100px"/>
    </div>
    <div class="tech_box">
        <h3>개발도구</h3>
        <img src="./assets/images/aws.png" alt="aws" width="100px" height="100px"/><img src="./assets/images/docker.png" alt="docker" width="100px" height="100px"/><img src="./assets/images/github.png" alt="github" width="100px" height="100px"/>
    </div>
</section>